<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.tistory.umbum.github_issue_widget_app">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:allowBackup="true"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <receiver android:name=".widget.IssueWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                    android:name="android.appwidget.provider"
                    android:resource="@xml/issue_widget_info"/>
        </receiver>

        <service
                android:name=".widget.IssueListService"
                android:enabled="true"
                android:exported="false"
                android:permission="android.permission.BIND_REMOTEVIEWS">
        </service>

        <activity
                android:name=".LoginActivity"
                android:label="@string/app_name"
                android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                        android:host="login"
                        android:scheme="github-issue-widget"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".ConfigActivity"
                android:label="@string/title_activity_config">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".RepoSelectActivity">
        </activity>
    </application>

</manifest>